/* Hand-writed by flassuu */
* {
	background: #111314;
	foreground: #b3b8c3;
	cursor: #ffffff;

	surface: #202425;
	surface2: #303537;
	surface3: #343d46;
	border: #7d8fa4;
	inactive: #111314;

	primary: #7d8fa4;
	secondary: #85a7a5;
	tertiary: #a47996;

	error: #b04b57;
	warning: #e5c179;
	success: #87b379;

	black: #000000;
	red: #b04b57;
	green: #87b379;
	yellow: #e5c179;
	blue: #7d8fa4;
	magenta: #a47996;
	cyan: #85a7a5;
	white: #b3b8c3;

	brightblack: #000000;
	brightred: #b04b57;
	brightgreen: #87b379;
	brightyellow: #e5c179;
	brightblue: #7d8fa4;
	brightmagenta: #a47996;
	brightcyan: #85a7a5;
	brightwhite: #ffffff;
}
