/* Hand-writed by flassuu */
* {
	background: #1e1e2e;
	foreground: #cdd6f4;
	cursor: #f5e0dc;

	surface: #313244;
	surface2: #45475a;
	surface3: #585b70;
	border: #6c7086;
	inactive: #7f849c;

	primary: #cba6f7;
	secondary: #89b4fa;
	tertiary: #f5c2e7;

	error: #f38ba8;
	warning: #fab387;
	success: #a6e3a1;

	black: #45475a;
	red: #f38ba8;
	green: #a6e3a1;
	yellow: #f9e2af;
	blue: #89b4fa;
	magenta: #cba6f7;
	cyan: #94e2d5;
	white: #bac2de;

	brightblack: #585b70;
	brightred: #f38ba8;
	brightgreen: #a6e3a1;
	brightyellow: #f9e2af;
	brightblue: #89b4fa;
	brightmagenta: #cba6f7;
	brightcyan: #89dceb;
	brightwhite: #a6adc8;
}
