/* Hand-writed by flassuu */
* {
	background: {{ base.background.hex }};
	foreground: {{ base.foreground.hex }};
	cursor: {{ base.cursor.hex }};

	surface: {{ ui.surface.hex }};
	surface2: {{ ui.surface2.hex }};
	surface3: {{ ui.surface3.hex }};
	border: {{ ui.border.hex }};
	inactive: {{ ui.inactive.hex }};

	primary: {{ accent.primary.hex }};
	secondary: {{ accent.secondary.hex }};
	tertiary: {{ accent.tertiary.hex }};

	error: {{ state.error.hex }};
	warning: {{ state.warning.hex }};
	success: {{ state.success.hex }};

	black: {{ normal.black.hex }};
	red: {{ normal.red.hex }};
	green: {{ normal.green.hex }};
	yellow: {{ normal.yellow.hex }};
	blue: {{ normal.blue.hex }};
	magenta: {{ normal.magenta.hex }};
	cyan: {{ normal.cyan.hex }};
	white: {{ normal.white.hex }};

	brightblack: {{ bright.black.hex }};
	brightred: {{ bright.red.hex }};
	brightgreen: {{ bright.green.hex }};
	brightyellow: {{ bright.yellow.hex }};
	brightblue: {{ bright.blue.hex }};
	brightmagenta: {{ bright.magenta.hex }};
	brightcyan: {{ bright.cyan.hex }};
	brightwhite: {{ bright.white.hex }};
}
